<div id="<%= dom_id finished_product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Pallet:</strong>
    <%= finished_product.pallet %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Boxes:</strong>
    <%= finished_product.boxes %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this finished product", finished_product, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this finished product', edit_finished_product_path(finished_product), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
